body{
	background-color:black;
	}
	
.welcome{
	position:fixed;
	padding-top:10%;
	width:100%;
	margin:auto;
	color:white;
	z-index:5;
	text-align:center;
	}

td{
	border: 2px solid white;
	}
	
table{
	vertical-align:top;
	color:white;
	border: 1px solid grey;
	background-color:clear;
	z-index:6;
	border:4%;
	width:50%;
	margin-left:auto;
	margin-right: auto;
	}
	
.logo{
	z-index:4;
	position:fixed;
	left:0;
	}

.logo2{
	z-index:8;
	position:fixed;
	right:0;
	}

a{
	color:white;
	}
		
.bottom /* star citizen */{
	z-index:3;
	position:fixed;
	width:100%;
	height:100%;
	margin:0;
	animation:mymove 45s infinite;
	-webkit-animation:mymove 45s infinite; /* safari and chrome */
	-moz-animation:mymove 45s infinite; /* firefox */
	}

.middle /* valkyrie */{
	z-index:2;
	position:fixed;
	width:100%;
	height:100%;
	margin:0;
	animation:mymove2 45s infinite;
	-webkit-animation:mymove2 45s infinite; /* safari and chrome */
	-moz-animation:mymove2 45s infinite; /* Firfox */
	}

.top /* eve */{
	z-index:1;
	width:100%;
	height:100%;
	position:fixed;
	margin:0;
	animation:mymove3 45s infinite;
	-webkit-animation:mymove3 45s infinite; /* Safari and Chrome */
	-moz-animation:mymove3 45s infinite; /* Firefox */
	}

@keyframes mymove
	{
	0%  {display:block; opacity:1;}
	12%	{display:block; opacity:1;}
	24% {display:block; opacity:1;}
	36% {display:block; opacity:0;}
	48% {display:block; opacity:0;}
	60% {display:block; opacity:0;}
	72% {display:block; opacity:0;}
	84% {display:block; opacity:0;}
	96% {display:block; opacity:0;}
	100% {display:block; opacity:1;}
	}

@keyframes mymove2
	{
	0%  {display:block; opacity:0;}
	12%	{display:block; opacity:0;}
	24% {display:block; opacity:0;}
	36% {display:block; opacity:1;}
	48% {display:block; opacity:1;}
	60% {display:block; opacity:1;}
	72% {display:block; opacity:0;}
	84% {display:block; opacity:0;}
	96% {display:block; opacity:0;}
	100% {display:block; opacity:0;}
	}
	
@keyframes mymove3
	{
	0%  {display:block; opacity:0;}
	12%	{display:block; opacity:0;}
	24% {display:block; opacity:0;}
	36% {display:block; opacity:0;}
	48% {display:block; opacity:0;}
	60% {display:block; opacity:0;}
	72% {display:block; opacity:1;}
	84% {display:block; opacity:1;}
	96% {display:block; opacity:1;}
	100% {display:block; opacity:0;}
	}

@-webkit-keyframes mymove /* Safari and Chrome */
	{
	0%  {display:block; opacity:1;}
	12%	{display:block; opacity:1;}
	24% {display:block; opacity:1;}
	36% {display:block; opacity:0;}
	48% {display:block; opacity:0;}
	60% {display:block; opacity:0;}
	72% {display:block; opacity:0;}
	84% {display:block; opacity:0;}
	100% {display:block; opacity:1;}
	}
@-moz-keyframes mymove /* Firefox */
	{
	0%  {display:block; opacity:1;}
	12%	{display:block; opacity:1;}
	24% {display:block; opacity:1;}
	36% {display:block; opacity:0;}
	48% {display:block; opacity:0;}
	60% {display:block; opacity:0;}
	72% {display:block; opacity:0;}
	84% {display:block; opacity:0;}
	96% {display:block; opacity:0;}
	100% {display:block; opacity:1;}
	}
	
@-webkit-keyframes mymove2 /* Safari and Chrome */
	{ 
	0%  {display:block; opacity:0;}
	12%	{display:block; opacity:0;}
	24% {display:block; opacity:0;}
	36% {display:block; opacity:1;}
	48% {display:block; opacity:1;}
	60% {display:block; opacity:1;}
	72% {display:block; opacity:0;}
	84% {display:block; opacity:0;}
	96% {display:block; opacity:0;}
	100% {display:block; opacity:0;}
	}
	
@-moz-keyframes mymove2 /* Firefox */
	{
	0%  {display:block; opacity:0;}
	12%	{display:block; opacity:0;}
	24% {display:block; opacity:0;}
	36% {display:block; opacity:1;}
	48% {display:block; opacity:1;}
	60% {display:block; opacity:1;}
	72% {display:block; opacity:0;}
	84% {display:block; opacity:0;}
	96% {display:block; opacity:0;}
	100% {display:block; opacity:0;}
	}

@-webkit-keyframes mymove3 /* Safari and Chrome */
	{
	0%  {display:block; opacity:0;}
	12%	{display:block; opacity:0;}
	24% {display:block; opacity:0;}
	36% {display:block; opacity:0;}
	48% {display:block; opacity:0;}
	60% {display:block; opacity:0;}
	72% {display:block; opacity:1;}
	84% {display:block; opacity:1;}
	96% {display:block; opacity:1;}
	100% {display:block; opacity:0;}
	}

@-moz-keyframes mymove3 /* Firefox */
	{
	0%  {display:block; opacity:0;}
	12%	{display:block; opacity:0;}
	24% {display:block; opacity:0;}
	36% {display:block; opacity:0;}
	48% {display:block; opacity:0;}
	60% {display:block; opacity:0;}
	72% {display:block; opacity:1;}
	84% {display:block; opacity:1;}
	96% {display:block; opacity:1;}
	100% {display:block; opacity:0;}
	}
